<button class="button btn btn-danger" data-bs-toggle="modal" data-bs-target="#contrucaoModal"><img class="img" src="../../../../../assets/imgs/geral/obras.png" alt="Em construção!"></button>


<div class="modal fade" id="contrucaoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Em construção</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="desc">
        🚧🔨 Olá! Obrigado por visitar meu site em construção! Estou trabalhando arduamente para trazer uma experiência incrível para você. 😊💪
        <br><br>
        ⏳ Minha estimativa é que o site esteja totalmente pronto na metade de agosto. 📅✨
        <br><br>
        👷‍♂️ Estou focado em cada detalhe, colocando todo o esforço e dedicação necessários para criar algo realmente especial. 💼🔍
        <br><br>
        ⚙️ Enquanto isso, gostaríamos de agradecer pela sua paciência e apoio. 🙏❤️
      </div>
      <div class="modal-footer">
        <img class="img" src="../../../../../assets/imgs/geral/obras.png" alt="Em construção!">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
