
<footer class="container-fluid bg-black" id="footer">
  <div class="container">
    <div class="row">
      <!-- FOOTER TOP -->
      <div class="col-12" id="footer-top">
        <div class="row justify-content-between">
          <div class="col-4">
            <a class="navbar-brand" href="#"><img src="../../../../../assets/imgs/geral/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
              Matheus Duarte</a>
          </div>
          <div class="col-4" id="social-icons">
            <a href="https://www.facebook.com/matheus.duarte.927" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/matheus_d_lins/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://github.com/MatheusDLins" target="_blank"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/matheus-duarte-4260771a2/" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
      <!-- Detalhes -->
      <div class="col-12" id="footer-details">
        <div class="row">
          <div class="col-12 col-md-4" id="news-container">
            <h4>Não perca essa chance</h4>
            <p class="secondary-color">
              Receba meu Email
            </p>
            <form>
              <div class="mb-3">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Digite o seu e-mail"
                />
              </div>
              <button class="btn btn-dark" disabled>Inscrever</button>
            </form>
          </div>
          <div class="col-12 col-md-4" id="contact-container">
            <h4>Formas de contato</h4>
            <p class="secondary-color">(91)98755-3959</p>
            <p class="secondary-color">matheus934qwer@gmail.com</p>
          </div>
          <div class="col-12 col-md-4" id="links-container">
            <div class="row">
              <h4>Você pode estar buscando por:</h4>
              <div class="col-6">
                <ul class="list-unstyled">
                  <li><a href="#sobre" class="secondary-color">Sobre</a></li>
                  <li><a href="#portfolio" class="secondary-color">Projetos</a></li>
                </ul>
              </div>
              <div class="col-6">
                <ul class="list-unstyled">
                  <li><a href="#atuacao" class="secondary-color">Atuação profissional</a></li>
                  <li><a href="#contato" class="secondary-color">Contato</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- FOOTER BOTTOM -->
      <div class="col-12" id="footer-bottom">
        <div class="row justify-content-between">
          <div class="col-12 col-md-3">
            <p class="secondary-color">MD &copy; 2022</p>
          </div>
          <div class="col-12 col-md-3">
            <p class="secondary-color">
              Realize o seu projeto comigo
              <i class="bi bi-heart"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
