body {
  background: #292727;
}

*{
  font-family: 'Ubuntu', sans-serif;
}


.row {
  margin: 0;
  text-align: center;
}

.title,
.subtitle {
  color: #fff;
}

.container {
  padding: 70px 0;
}

p,
li {
  color: #fff;
  font-size: 14px;
}
