.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.small-text {
  color: #333333;
  font-size: 16px;
  margin-bottom: -10px;

}
.bi-android2{
  color: #28A745;
}

.angular-container {
  display: flex;
  align-items: center;
  margin-bottom: -10px;
}

.main-text {
  color: #333333;
  font-size: 94px;
  margin-right: 10px;
}

.small-right-text {
  color: #333333;
  font-size: 16px;
  text-align: right;
  margin-left: 60px;
}

.mobile{
  display: none;
}

@media (max-width: 576px) {
  .main-text {
    font-size: 50px;
  }

  .small-text, .small-right-text{
    margin-bottom: 10px;
  }

  .desktop{
    display: none;
    justify-content: center;
    align-items: center;
  }
  .mobile{
    display: block;
  }

  .small-right-text{
    margin-left: 0;
  }

}
