.home {
  height: calc(100vh + 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  width: 100%;
}

.home-info {
  width: 60%;
  text-align: justify;

}

.home-img {
  width: 40%;
}

.home-img img {
  width: 200px;
  height: 200px;
  box-shadow: 0 10px 10px;
  border-radius: 50%;
}


/*Mobile*/

@media (max-width: 576px) {
  .home-info,
  .home-img {
    width: 100%;
    padding: 20px;
  }

  .home{
    height: auto;
  }
}

