<div class="home">
  <div class="container row">
      <div class="home-info">
          <h1>Olá, sou Matheus</h1>
          <span class="home-position">Programador Web</span>
          <span>O desenvolvedor que você procura.</span>

          <div class="col-12">
            <a class="btn btn-primary" href="#sobre">Sobre</a>
          </div>
      </div>
      <div class="home-img">
          <img src="../../../../../assets/imgs/geral/eu.jpeg" alt="Foto de perfil">
      </div>
    </div>
</div>
